@{
    ViewData["Title"] = "SeparateActionParse";
    Layout = "_Layout";
}

<form action=@Url.Action("Result", "SeparateActionPars") method="post">
    <input type="number" name="firstNumber">
    <select name="operation">
        <option>+</option>
        <option>-</option>
        <option>/</option>
        <option>*</option>
    </select>
    <input type="number" name="secondNumber">
    <button type="submit">Вычислить</button>
</form>
