@{
    ViewData["Title"] = "SeparateActionParse";
    Layout = "_Layout";
}

<h1>Result</h1>
<div>@ViewData["firstNumber"] @ViewData["Operation"] @ViewData["secondNumber"] = @ViewData["result"]</div>
