@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Form parameters parsing demo</h2>
    <ul>
        <li><a href="@Url.Action("Index", "SingleActionParse")">Manual parsing in single action</a></li>
        <li><a href="@Url.Action("Index", "SeparateActionPars")">Manual parsing in separate action</a></li>
        <li><a href="@Url.Action("Index", "ModelBindingParameters")">Model binding (parameters)</a></li>
        <li><a href="@Url.Action("Index", "ModelBindingSeparateModel")">Model binding (separate model)</a></li>
    </ul>
</div>